{% extends "blogApp/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="register" >
<main role="main" class="container">
  <div class="row divElement">
    <div class="col-md-12">
		<div class="content-section">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">log In</legend>
					{{form|crispy}}	
				</fieldset>
				<div class="form-group">
					<button class="btn btn-info" type="submit">Log In</button>	
				</div>	
			</form>
			<div class="boarder-top pt-3">
				<small class="text-muted">
					Do you need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
				</small>
					
			</div>
		</div>
	</div>	
	</div>    
  
</main>
</div>

{% endblock content %}